*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
   margin: 5px;
   display: flex;
   background-color: black;
  padding: 10px;
   justify-content: space-around;
   align-items: center;
}
.navbar a {
    color: aliceblue;
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    font-size: large;
    font-weight: 500;
}
.navbar a:hover {
    color:burlywood;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .navbar {
    flex-direction: column;
    align-items: center;
    background-color: gray;
    }
    }